.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list .item {
  padding: 2.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;

  display: flex;
  gap: 2.5rem;
}

.list .item .profile-picture {
  border-radius: 50%;
  border: 1px solid black;
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.list .item .profile-picture:hover {
  border-color: transparent;
  background: rgba(255, 0, 0, 0.185);
  cursor: pointer;
}

.list .item .profile-picture:hover i {
  display: initial;
  pointer-events: none;
}

.list .item .profile-picture:hover span {
  display: none;
}

.list .item .profile-picture i {
  display: none;
}

.list .item .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.list .item .contact-info h4 {
  font-weight: 600;
}

.list .item .contact-info p {
  color: var(--text-secondary);
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .list .item {
    padding: 2rem;
    gap: 1.5rem;
  }

  .list .item .contact-info h4 {
    max-width: 175px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 524px) {
  .list .item {
    padding: 1.25rem;
    gap: 1rem;
  }

  .list .item .profile-picture {
    height: 35px;
    width: 35px;
    font-size: 1.2rem;
  }
}
