@import url(./_variables.css);
@import url(./_list.css);
@import url(./_modal.css);
@import url(./_header.css);

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: 1.6rem;
  font-family: Rubik, sans-serif;
}

main {
  padding: 5rem 4rem;
  max-width: 800px;
  height: 100vh;
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  main {
    padding: 4rem 2rem;
  }
}
